<!-- 
     Auteur : Julien RENOULT 
     Sujet : Macro des résulats de recherche de film (lien réalisateur ou formulaire de recherche de films)
     Date : 10/12/2024 
     Fonction : faire la mise en forme des résultats des films 
     Arguments :
     - films : liste d'instances des films à présenter
     - valeur : valeur recherchée
     - type : quelle est le type de recherche (str)
        - dir : recherche par réalisateur/directeur
        - genre : recherche par genre de film
        - titre : rechercher par titre du film
-->

{% macro afficher_resultat_films(films, type, valeur) %}
{% if type == "dir" %}
<h2> Les films réalisés par le directeur {{ valeur.nom }} {{ valeur.prenom }} : </h2>
{% elif type == "Genre" %}
<h2> Films du genre "{{ valeur }}" : </h2>
{% else %}
<h2> Films du titre "{{ valeur }}" : </h2>
{% endif %}
     <ul>
     {% for film in films %}
        <li>Titre du film : {{ film.title }}</li>
        <ul>
            <!-- Les informations du film concerné -->
            {% if film.overwiew==None %}
            <li> Pas de résumé du film </li>
            {% else %}
            <li>Son résumé : <p>{{ film.overwiew }}</p></li>
            {% endif %}
            
            {% if type != "dir" %}
                <li>Son réalisateur : {{ film.directeur.nom }} {{ film.directeur.prenom }}</li>
            {% endif %}
            
            <!-- Parcourir tous ses acteurs -->
            <li>Ses acteurs : 
                <ul>
                {% for acteur in film.acteurs %}
                    <li>
                        {% if acteur.nom != None %} 
                            {{ acteur.nom }} 
                        {% endif %}
                        {% if acteur.prenom != None %}
                            {{ acteur.prenom }}
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </li> 
            
         
            
            <li>Son année de sortie : {{ film.release_date | extract_year }}</li>

            <!-- Compléter pour langue d'origine-->
            <li>Sa langue originale : {{ film.language_org.language }}</li>
            
            {% if film.vote_average==None %}
                <li>Sa note moyenne : Note inexistante (pas de vote)</li>
            {% else %}
                <li>Sa note moyenne : {{ film.vote_average }}</li>
            {% endif %}
            
            <li>L'indice de popularité de ce film : {{ film.popularity }}</li>
        </ul>
        <br />
     {% endfor %}
    </ul>   
{% endmacro %}