<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistiques</title>
</head>
<body id= 'diamond-background'class="transition-style" style="background: linear-gradient(135deg, #f5f7fa, #c3cfe2);">
    {% extends "base.html" %}

    {% block content %}
    {{ super() }}    
    <div class="container  mt-5 pt-5">
        <h1>Statistiques globales</h1>
        <h2> Top 10 des réalisateurs qui ont les films les mieux notés </h2>
        <ul>

            {% for i in r_top_10_mieux_notes %}

            <li class="list-unstyled"><img src="{{ i.poster_path }}" alt="poster_{{i.title }}"> Réalisateur :  {% if i.directeur.nom != None %}{{ i.directeur.nom }}{% endif %} {{ i.directeur.prenom }} | Note : {{ i.vote_average }}  </li>

            {% endfor %}


        </ul>

        <h2> Top 10 des réalisateurs qui ont les films les plus populaires </h2>
        <ul>

            {% for i in r_top_10_plus_populaires %}

            <li class="list-unstyled"><img src="{{ i.poster_path }}" alt="poster_{{i.title }}"> Réalisateur : {% if i.directeur.nom != None %}{{ i.directeur.nom }}{% endif %} {{ i.directeur.prenom }}  | Indice de popularité : {{ i.popularity | int }}</li>
            
            {% endfor %}


        </ul>

        <h2> Top 10 des réalisateurs qui ont fait le plus de films </h2>
        <ul>

            {% for i in r_top_10_real_film %}

            <li> Réalisateur : {{ i.nom }}  {{ i.prenom }} | Films réalisés : {{ i[2] }}</li>
            
            {% endfor %}


        </ul>



    </div>

    <div class="container mt-5 pt-5">
        <h1>Formulaire de recherche</h1>
         <!-- Partie messagerie -->
     {% with messages = get_flashed_messages() %}
     {% if messages %}
         {% for message in messages %}
             <div class="alert alert-warning">
               <button type="button" 
               class="btn-close" 
               data-bs-dismiss="alert" 
               aria-label="Close">
                 </button>
                         {{ message }}
                         </div>
                     {% endfor %}
                 {% endif %}
             {% endwith %}
 
     <!-- Partie formulaire -->
     <form method="POST" >
         {{ form.csrf_token }}
 
         <div>
             {{ form.nom_real.label(class = "form-label fw-bold") }}
             <br />
             {{ form.nom_real() }}
         </div>
         <br />
         <div>
             {{ form.envoyer(class='btn btn-primary') }}
         </div>
     </form>
 
     <!-- Partie affichage des résultats -->
     {% if  reals != [] %}
         <ul>
         {% for real in reals %}
             <li>
                 Nom et prénom du réalisateur : {{ real.nom }} {{ real.prenom }}
                 <ul>
                     <li> Nombre de films réalisés : {{ real.films.count()}}</li>
                     <li> <a href="/films_realisateur/{{ real.id }}">Voir ses films réalisés</a></li>
                 </ul>
             </li>
         {% endfor %}
         </ul>
     {% endif %}

    </div>
    






    {% endblock %}
</body>
</html>