<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >SAE Analyse et conception d'un outil décisionnel</title>
</head>

<body id= 'diamond-background'class="transition-style" style="background: linear-gradient(135deg, #f5f7fa, #c3cfe2);">
    {% extends "base.html" %}
    <br>
    {% block content %}
    {{ super() }}
    <h1 class="row justify-content-center align-items-center" >Présentation de l'outil décisionnel</h1>

    <div  class="container mt-5 pt-5">
        <h2>Expliquation technique</h2>
        
        
        <p class='justify-content-center'>
            <br>
            CinéAnalytics est un outil décisionnel qui permet aux professionnels de l'industrie, chercheurs, et autres passionnés de cinéma, de plonger efficacement et intuitivement dans le monde des données cinématographiques.
            Chaque utilisateur peut visualiser diverses réalisations graphiques disponible ci-dessous, ou encore utiliser notre moteur de recherche
            Les données sont enregistrés dans une base SQLite ; réparties en 11 tableaux (table) dont 4 étant des tableaux d'associations. Le modèle logique des données sépare les variables GENRE, COMPANY, LANGUAGE, COLLECTION, ACTOR, et DIRECTOR du tableau principal.
        
           
           <ul> Langages utilisés : 
            <br><br>
            <li>Python</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
           </ul>
          

        </p>


        <h2>Expliquation travail de l'equipe</h2>
        <br>

            <ul >Ce projet fut réalisé par 4 personnes : DALYOP Yop Jugul, DOBIGNY Ryan, DURAND Gabriel, et RENOULT Julien.

                <li> Le modèle relationnel (ou MLD) par l'équipe.</li>
                <li> La création de la base de données et les insertions des données ont été effectué par Julien et Yop.</li>
                <li> L'interface du site web et les représentations graphiques par Gabriel.</li>
                <li> Le système de recherche de film par Julien et Ryan.</li>
                <li> Le DCU et les textes par Ryan.</li>            
            </ul>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
     {% endblock %}
</body>
</html>